[Unit]
Description=Aplikasi Demo
After=syslog.target

[Service]
User=adiabdurrakh
WorkingDirectory=/opt/sinarmas/demo
ExecStart=java -jar /opt/sinarmas/demo/gege.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
