<!DOCTYPE html>
<html lang="eng"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout.html}">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800" th:text="${title}"></h1>
    <br>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!--        <div class="card-header py-3">-->
        <!--            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-table"></i>  Tabel Data Sakit</h6>-->
        <!--        </div>-->
        <div class="card-header py-3">
            <form action="">
                <label for="from">From :</label>
                &ensp;
                <input type="date" id="from" name="from">
                &ensp;
                <label for="to">To :</label>
                &ensp;
                <input type="date" id="to" name="to">
                &ensp;
                <input type="submit">
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped display select cell-border" id="dataSakitTable"
                       width="100%" cellspacing="0">
                    <tr align="center">
                        <th>No</th>
                        <th>Nama</th>
                        <th>Tanggal Mulai</th>
                        <th>Tanggal Selesai</th>
                        <th>File</th>
                        <th>Detail</th>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>Fathur</td>
                        <td>2 juni 2019</td>
                        <td>19 Juni 2019</td>
                        <td>Keterangan_Sakit.pdf</td>
                        <td>Sakit Kepala</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>Fathur</td>
                        <td>2 juni 2019</td>
                        <td>19 Juni 2019</td>
                        <td>Keterangan_Sakit.pdf</td>
                        <td>Sakit Kepala</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>Fathur</td>
                        <td>2 juni 2019</td>
                        <td>19 Juni 2019</td>
                        <td>Keterangan_Sakit.pdf</td>
                        <td>Sakit Kepala</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>Fathur</td>
                        <td>2 juni 2019</td>
                        <td>19 Juni 2019</td>
                        <td>Keterangan_Sakit.pdf</td>
                        <td>Sakit Kepala</td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>Fathur</td>
                        <td>2 juni 2019</td>
                        <td>19 Juni 2019</td>
                        <td>Keterangan_Sakit.pdf</td>
                        <td>Sakit Kepala</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script></script>
</th:block>
<th:block layout:fragment="custom_script">
    <script src="/static/js/dataClock.js"></script>
</th:block>
<script>
    $(document).ready(function () {
        $('#dataSakitTable').DataTable();
    });
</script>
</body>
</html>
